<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatbot.api.mappers.BoxMapper">

    <!-- Entry Box 중에서 box_id가 1인 레코드를 조회  -->
    <select id="getEntryBoxByAuthKey" resultMap="BoxDto" parameterType="hashmap">
        SELECT *
        FROM   box
        WHERE  auth_key = #{authKey} AND box_id = #{boxId}
    </select>


    <!-- Box Id 를 이용해서 box 데이터를 조회 -->
    <select id="getBoxByBoxIdAndAuthKey" resultMap="BoxDto" parameterType="hashmap">
        SELECT
        b.box_id,
        b.auth_key,
        b.pre_text,
        b.post_text,
        b.box_type
        FROM box AS b
        WHERE box_id = #{boxId}
        AND   auth_key = #{authKey}
    </select>



    <resultMap id="BoxDto" type="chatbot.api.buildcode.domain.BoxDTO">
        <result property="boxId" column="box_id"/>
        <result property="authKey" column="auth_key"/>
        <result property="preText" column="pre_text"/>
        <result property="postText" column="post_text"/>
        <result property="boxType" column="box_type"/>
    </resultMap>

    <parameterMap id="BoxDto" type="chatbot.api.buildcode.domain.BoxDTO">
        <parameter property="boxId"/>
        <parameter property="authKey"/>
        <parameter property="preText"/>
        <parameter property="postText"/>
        <parameter property="boxType"/>
    </parameterMap>
</mapper>