<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatbot.api.mappers.HubLogMapper">

    <!-- 명령 수행 결과 로그 저장 -->
    <insert id="saveHubLog" parameterMap="HubLogDto">
        INSERT INTO hub_log
        (
        hub_id,
        requester_id,
        content,
        log_type
        )
        VALUES
        (
        #{hubId},
        #{requesterId},
        #{content},
        #{logType}
        )
    </insert>

    <!-- 특정 허브의 로그 조회 -->
    <select id="getHubLog" resultMap="HubLogVo" parameterType="Long">
        SELECT
        u.name,
        l.recorded_at,
        l.content,
        l.log_type
        FROM (SELECT * FROM hub_log WHERE hub_id = #{hubId}) AS l INNER JOIN users AS u
        ON l.requester_id = u.provider_id
    </select>

    <resultMap id="HubLogDto" type="chatbot.api.hublog.domain.HubLogDTO">
        <result property="hubId" column="hub_id"/>
        <result property="recordedAt" column="recorded_at"/>
        <result property="requesterId" column="requester_id"/>
        <result property="content" column="content"/>
        <result property="logType" column="log_type"/>
    </resultMap>

    <resultMap id="HubLogVo" type="chatbot.api.hublog.domain.HubLogVO">
        <result property="recordedAt" column="recorded_at"/>
        <result property="requesterName" column="name"/>
        <result property="content" column="content"/>
        <result property="logType" column="log_type"/>
    </resultMap>


    <parameterMap id="HubLogDto" type="chatbot.api.hublog.domain.HubLogDTO">
        <parameter property="hubId"/>
        <parameter property="recordedAt"/>
        <parameter property="requesterId"/>
        <parameter property="content"/>
        <parameter property="logType"/>
    </parameterMap>
</mapper>