<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatbot.api.mappers.SkillHubUserMapper">

    <insert id="save" parameterMap="SkillHubUserInfoDto">
        INSERT INTO hub_user
        (
        hub_sequence,
        user_sequence,
        role
        )
        VALUES
        (
        #{hubSeq},
        #{userSeq},
        #{role}
        )
    </insert>

    <resultMap id="SkillHubUserInfoDto" type="chatbot.api.skillHub.domain.SkillHubUserInfoDto">
        <result property="hubSeq" column="hub_sequence"/>
        <result property="userSeq" column="user_sequence"/>
        <result property="role" column="role"/>
    </resultMap>

    <parameterMap id="SkillHubUserInfoDto" type="chatbot.api.skillHub.domain.SkillHubUserInfoDto">
        <parameter property="hubSeq"/>
        <parameter property="userSeq"/>
        <parameter property="role"/>
    </parameterMap>

</mapper>