<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chatbot.api.mappers.UserHubMapper">

    <insert id="save" parameterMap="UserHubDto">
        INSERT INTO user_hub
        (
            hub_id,
            user_id,
            role
        )
        VALUES
        (
            #{hubId},
            #{userId},
            #{role}
        )
    </insert>

    <resultMap id="UserHubDto" type="chatbot.api.hub.domain.UserHubDto">
        <result property="hubId" column="hub_id"/>
        <result property="userId" column="user_id"/>
        <result property="role" column="role"/>
    </resultMap>

    <parameterMap id="UserHubDto" type="chatbot.api.hub.domain.UserHubDto">
        <parameter property="hubId"/>
        <parameter property="userId"/>
        <parameter property="role"/>
    </parameterMap>

</mapper>